.image-item{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.image{
    width: 100%;
    border-radius: 5px;
 }
.text{
    color: #F1F1F1;
    text-align: left;
    font-size: 13px;
 }

 @media screen and (min-width:1000px) {
    .image-item{
        width: 22%;
    }
 }

 @media screen and (max-width:560px) {
    .image-item{
        width: 80%;
    }
 }


 .item{
    border-radius: 10px;
 }
 .popup-card{
    border-radius: 10px;
    background-color: #1c1e21;
    padding: 10px;
    width: 200px;
 }
 .popup-text{
    color: #F7F9F2;
    font-size: 12px;
 }
 
 .title{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
 }