.loader-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.main-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 
.search-card{
    margin-top: 120px;
    background-color: transparent;
    border: solid 1px #F1F1F1;
    width: 50%;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
 }
 @media screen and (max-width:760px) {
    .search-card{
        width: 60%;
    }
 }
 @media screen and (max-width:560px) {
    .search-card{
        width: 90%;
    }
 }
.input{
    width: 85%;
    height: 100%;
    outline: none;
    background-color: transparent;
    color: #F1F1F1;
    border: none;
    padding: 10px;
    margin-left: 5px;
}
.icon-card{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    color: #F1F1F1;
}
.images-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin-top: 50px;
    justify-content: center;
}
.not-found{
    color: #F1F1F1;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}